<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mentalworkz_EmailPreview::previewsend" title="Preview/Send Email Templates" translate="title" module="Mentalworkz_EmailPreview" sortOrder="11" parent="Magento_Backend::marketing_communications" action="mwzemail/email/previewsend" resource="Mentalworkz_EmailPreview::previewsend"/>
    </menu>
</config>
